fastapi==0.111.0
uvicorn[standard]==0.30.1
openai==1.35.0
azure-ai-inference==1.0.0b9
chromadb==0.5.0
numpy==1.26.4
PyMuPDF==1.24.5
Pillow==10.3.0
pydub==0.25.1
psutil==5.9.8
pytest==8.2.2
httpx==0.27.0
pytest-asyncio==0.23.7
pydantic-settings==2.6.1
pyinstaller==6.8.0
python-multipart==0.0.9
python-dotenv==1.0.1
aiofiles==23.2.1
